<p>Welcome to AppComponent 1</p>

<app-ng-if-example></app-ng-if-example>

<router-outlet></router-outlet>
  
<!-- <app-quiz></app-quiz> -->

<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empList">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.gender}}</td>
        <td>
          <div *ngIf="emp.status === 'active'; else failedRef">
            <span class="badge bg-success">active</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #failedRef>
  <span class='badge bg-danger'>
    inactive
  </span>
</ng-template> -->